@import "tailwindcss";

/* General styles */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal; */

  /* Gradient */
  background: linear-gradient(135deg, #aae4ff, #ffffff, #aae4ff);  /* #b3e5fc */
  background-size: 300% 300%;
  animation: gradientMove 8s ease-in-out infinite;
  min-height: 100vh;

}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* No scroll-bars */
::-webkit-scrollbar { /* Chrome, Edge, Safari */
  display: none;
}
html { /* Firefox */
  scrollbar-width: none;
}


/* Selection color */
::selection {
  @apply bg-neutral-600;
  @apply text-white;            
}

a.active-link {
  @apply underline underline-offset-2 decoration-2;
}