@import "tailwindcss";

/* Tag styles */
@layer base {
  body {
    @apply text-[12px];
  }
}

/* Custom utilitary classes */
@layer utilities {
  .title {
    @apply text-neutral-600 leading-tight tracking-wide;
  }

  .subtitle{
    @apply text-neutral-400 leading-tight ml-auto mr-1 tracking-wide;
  }

  .description{
    @apply text-neutral-500 leading-tight;
  }

  .link{
    @apply text-neutral-500 hover:underline hover:underline-offset-2 hover:opacity-70 transition-opacity cursor-pointer;
  }
  
  .text-justify-all{
    text-align: justify;
    text-align-last: justify;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal; */

  /* Gradient */
  background: linear-gradient(135deg, #aae4ff, #ffffff, #aae4ff);  /* #b3e5fc */
  background-size: 300% 300%;
  animation: gradientMove 8s ease-in-out infinite;
  min-height: 100vh;
}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* No scroll-bars */
::-webkit-scrollbar { /* Chrome, Edge, Safari */
  display: none;
}
html { /* Firefox */
  scrollbar-width: none;
}


/* Selection color */
::selection {
  @apply bg-neutral-600;
  @apply text-white;            
}

a.active-link {
  @apply underline underline-offset-2 decoration-2;
}